<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <title>Model Details</title>
</head>
<body>
<section layout:fragment="header">
    <h1>
        Model Detail
        <small>Control panel</small>
    </h1>
    <ol class="breadcrumb">
        <li><a th:href="@{/}"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Model Details</li>
    </ol>
</section>
<div layout:fragment="content">
    <div class="row">
        <div class="col-md-12">
            <!-- Horizontal Form -->
            <div class="box box-info">
                <div class="box-header with-border">
                    <h3 class="box-title">Model Detail</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <form th:action="@{/model/save}" th:object="${model}" method="post" class="form-horizontal">

                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Model Id</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control"  readonly="readonly" th:field="*{id}" placeholder="Model ID">
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-2 control-label">Make:<span>*</span></label>
                            <div class="col-sm-10">
                                <select class="form-control" th:field="*{make.id}">
                                    <option value="">Select...</option>
                                    <option th:each="makeInfo : ${listMake}" th:value="${makeInfo.id}" th:utext="${makeInfo.name}"/>
                                </select>
                                <p class="text-red" th:if="${#fields.hasErrors('make.id')}" th:errors="*{make.id}"></p>
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control"  th:field="*{name}" />
                                <p class="text-red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Is Deleted ?</label>
                            <div class="col-sm-10">
                                <select th:field="*{isDeleted}" class="form-control">
                                    <option value="false">No</option>
                                    <option value="true">Yes</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <!-- /.box-body -->
                    <div class="box-footer center">
                        <a th:href="@{/model/list}">
                            <button type="button" class="btn btn-default"><i class="fa fa-right"></i> Cancel</button>
                        </a>
                        <button type="submit" class="btn btn-info pull-right"><i class="fa fa-save"></i> Save</button>
                    </div>
                    <!-- /.box-footer -->
                </form>
            </div>
            <!-- /.box -->
        </div>
    </div>
</div>
</div>

<th:block layout:fragment="script">
    <script>
    </script>
</th:block>

</body>

</html>
