<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Login</title>
</head>
<body>

<!-- Main Container  -->
<div layout:fragment="content" class="main-container container">
    <ul class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i></a></li>
        <li><a href="#">Account</a></li>
        <li><a href="#">Login</a></li>
    </ul>

    <div class="row">
        <div id="content" class="col-sm-12">
            <div class="page-login">

                <div class="account-border">
                    <div class="row">
                        <div class="col-sm-6 new-customer">
                            <div class="well">
                                <h2><i class="fa fa-file-o" aria-hidden="true"></i> New Customer</h2>
                                <p>By creating an account you will be able to shop faster, be up to date on an order's status, and keep track of the orders you have previously made.</p>
                            </div>
                            <div class="bottom-form">
                                <a th:href="@{/register}" class="btn btn-default pull-right">Register</a>
                            </div>
                        </div>
                        <form th:action="@{/login}" th:object="${customerRegistrationDto}" method="post" enctype="multipart/form-data">
                            <div class="col-sm-6 customer-login">
                                <div class="well">
                                    <div th:if="${param.error}">
                                        <div class="alert alert-danger">Invalid username or password.</div>
                                    </div>

                                    <h2><i class="fa fa-file-text-o" aria-hidden="true"></i> Returning Customer</h2>
                                    <p><strong>I am a returning customer</strong></p>
                                    <div class="form-group required">
                                        <label class="control-label " for="username">Username (E-mail Address)</label>
                                        <input type="email" th:field="*{username}" id="username" value="" class="form-control" />
                                    </div>
                                    <div class="form-group required">
                                        <label class="control-label " for="password">Password</label>
                                        <input type="password" th:field="*{password}" id="password" value="" class="form-control" />
                                    </div>
                                </div>
                                <div class="bottom-form">
                                    <a th:href="@{/forget-password}" class="forgot">Forgotten Password</a>
                                    <input type="submit" value="Login" class="btn btn-default pull-right" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- //Main Container -->

<th:block layout:fragment="script">
    <script type="text/javascript">
    </script>
</th:block>
</body>
</html>