<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Change Password — Autoparts</title>
</head>
<body>

<!-- Main Container  -->
<div layout:fragment="content"  class="main-container container">
    <ul class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i></a></li>
        <li><a href="#">Account</a></li>
        <li><a href="#">Change Password</a></li>
    </ul>

    <div class="row">
        <!--Middle Part Start-->
        <div class="col-sm-9" id="content">
            <h2 class="title">Change Password</h2>
            <form>
                <div class="row">
                    <div class="col-sm-6">
                        <fieldset>
                            <legend>Change Password</legend>
                            <div class="form-group required">
                                <label for="old-password" class="control-label">Old Password</label>
                                <input type="password" class="form-control" id="old-password" placeholder="Old Password" value="" name="old-password">
                            </div>
                            <div class="form-group required">
                                <label for="input-password" class="control-label">New Password</label>
                                <input type="password" class="form-control" id="input-password" placeholder="New Password" value="" name="new-password">
                            </div>
                            <div class="form-group required">
                                <label for="input-confirm" class="control-label">New Password Confirm</label>
                                <input type="password" class="form-control" id="input-confirm" placeholder="New Password Confirm" value="" name="new-confirm">
                            </div>
                        </fieldset>
                    </div>
                </div>

                <div class="buttons clearfix">
                    <div class="pull-right">
                        <input type="submit" class="btn btn-md btn-primary" value="Save Changes">
                    </div>
                </div>
            </form>
        </div>
        <!--Middle Part End-->

        <div th:replace="/my-account/template/leftnav"></div>

    </div>
</div>
<!-- //Main Container -->


<th:block layout:fragment="script">
</th:block>
</body>
</html>