<!--Right Part Start -->
<aside class="col-sm-3 hidden-xs content-aside col-md-3" id="column-right">
    <h2 class="subtitle">Account</h2>
    <div class="list-group">
        <ul class="list-item">
            <li><a th:href="@{/my-account}"><i class="fa fa-dashboard"></i> My Account</a></li>
            <li><a th:href="@{/order-history}"><i class="fa fa-history"></i> Order History</a></li>
            <li><a th:href="@{/change-password}"><i class="fa fa-key"></i> Change Password</a></li>
        </ul>
    </div>
</aside>
<!--Right Part End -->