
<!-- Footer Container -->
<footer class="footer-container typefooter-4">
    <!-- Footer Top Container -->
    <div class="row-top">
        <div class="block-services container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 col-margin1">
                    <div class="icon-service">
                        <div class="icon"><i class="pe-7s-car">&nbsp;</i></div>
                        <div class="text">
                            <h6>Free shipping</h6>
                            <p class="no-margin">On all orders over $99.00</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 col-margin1">
                    <div class="icon-service">
                        <div class="icon"><i class="pe-7s-refresh-2">&nbsp;</i></div>
                        <div class="text">
                            <h6>30 days return</h6>
                            <p class="no-margin">You have 30 days to return</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 col-margin">
                    <div class="icon-service">
                        <div class="icon"><i class="pe-7s-door-lock">&nbsp;</i></div>
                        <div class="text">
                            <h6>Safe Shopping<br></h6>
                            <p class="no-margin">Payment 100% secure</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="icon-service">
                        <div class="icon"><i class="pe-7s-users">&nbsp;</i></div>
                        <div class="text">
                            <h6>Online support</h6>
                            <p class="no-margin">Contact us 24 hours a day</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- /Footer Top Container -->

    <!-- Footer middle Container -->
    <div class="container">
        <div class="row footer-middle">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 col-style">
                <div class="box-footer box-infos">
                    <div class="module">
                        <h3 class="modtitle">Contact us</h3>
                        <div class="modcontent">
                            <ul class="list-icon">
                                <li><span class="icon pe-7s-map-marker"></span>Abc, Street 15, USA</li>
                                <li><span class="icon pe-7s-call"></span> <a href="#">100-0000-000</a></li>
                                <li><span class="icon pe-7s-mail"></span><a href="mailto:contact@demostore.com">contact@demostore.com</a></li>
                                <li><span class="icon pe-7s-alarm"></span>7 Days a week from 10-00 am to 6-00 pm</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 col-style">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-style">
                        <div class="box-information box-footer">
                            <div class="module clearfix">
                                <h3 class="modtitle">Information</h3>
                                <div class="modcontent">
                                    <ul class="menu">
                                        <li><a th:href="@{/}">Home</a></li>
                                        <li><a th:href="@{/category}">Categories</a></li>
                                        <li><a th:href="@{/view-cart}">View Cart</a></li>
                                        <li><a th:href="@{/checkout}">Checkout</a></li>
                                        <li><a th:href="@{/contact-us}">Contact us</a></li>
                                        <li><a th:href="@{/register}">Register</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-style">
                        <div class="box-account box-footer">
                            <div class="module clearfix">
                                <h3 class="modtitle">My Account</h3>
                                <div class="modcontent">
                                    <ul class="menu">
                                        <li><a th:href="@{/my-account}">My account</a></li>
                                        <li><a th:href="@{/order-history}">Order History</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="row row-dark">
            <div class="col-lg-4 col-md-5 col-sm-5 col-xs-12 col-socials">
                <ul class="socials">
                    <li class="facebook"><a href="#" target="_blank"><i class="fa fa-facebook"></i></a></li>
                    <li class="twitter"><a href="#" target="_blank"><i class="fa fa-twitter"></i></a></li>
                    <li class="google_plus"><a href="#" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                    <li class="pinterest"><a href="#" target="_blank"><i class="fa fa-pinterest-p"></i></a></li>
                    <li class="instagram"><a href="#" target="_blank"><i class="fa fa-instagram"></i></a></li>
                    <li class="Youtube"><a href="#" target="_blank"><i class="fa fa-youtube-play"></i></a></li>
                </ul>
            </div>

        </div>
    </div>
    <!-- /Footer middle Container -->
    <!-- Footer Bottom Container -->
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="copyright col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <p>www.creativetechhouse.com © 2021 Demo Store. All Rights Reserved .</p>
                </div>
                <div class="payment-w col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <img th:src="@{/image/catalog/demo/payment/payment.png}" alt="imgpayment">
                </div>
            </div>
        </div>
    </div>
    <!-- /Footer Bottom Container -->


    <!--Back To Top-->
    <div class="back-to-top"><i class="fa fa-angle-up"></i></div>
</footer>
<!-- //end Footer Container -->
