<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Home Page</title>
</head>
<body>
    <!-- Main Container  -->
    <div layout:fragment="content"  class="main-container">
        <div id="content">
            <div class="slider-container">
                <div class="module sohomepage-slider ">
                    <div class="yt-content-slider"  data-rtl="no" data-autoplay="no" data-autoheight="no" data-delay="4" data-speed="0.6" data-margin="0" data-items_column00="1" data-items_column0="1" data-items_column1="1" data-items_column2="1"  data-items_column3="1" data-items_column4="1" data-arrows="yes" data-pagination="no" data-lazyload="yes" data-loop="no" data-hoverpause="yes">
                        <div class="yt-content-slide">
                            <a href="#"><img th:src="@{/image/catalog/slideshow/home4/slider-1.jpg}" alt="slider1" class="img-responsive"></a>
                        </div>
                        <div class="yt-content-slide">
                            <a href="#"><img th:src="@{/image/catalog/slideshow/home4/slider-2.jpg}" alt="slider2" class="img-responsive"></a>
                        </div>
                        <div class="yt-content-slide">
                            <a href="#"><img th:src="@{/image/catalog/slideshow/home4/slider-3.jpg}" alt="slider3" class="img-responsive"></a>
                        </div>
                    </div>

                    <div class="loadeding"></div>
                </div>
            </div>
            <div class="content-main-w">
                <div class="container">
                    <div class="box-advanced-search">
                        <form th:action="@{/part-search}" method="GET">
                            <input type="hidden" name="name" value=""/>
                            <input type="hidden" name="category" value=""/>

                            <div class="so_advanced_search">
                            <div class="sas_wrap">
                                <div class="sas_inner">
                                    <div class="heading-title"><h2>Select Your Vehicle</h2></div>
                                    <div class="sas_inner-box-search">
                                        <div class="row">
                                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 search-boxes">
                                                <select class="form-control make" name="make">
                                                    <option th:each="makeInfo : ${listMake}" th:value="${makeInfo.id}" th:utext="${makeInfo.name}"/>
                                                </select>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 search-boxes">
                                                <select class="form-control model" name="model">
                                                    <option th:each="modelInfo : ${listModel}" th:value="${modelInfo.id}" th:utext="${modelInfo.name}"/>
                                                </select>
                                            </div>

                                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 search-boxes">
                                                <select class="form-control" name="year">
                                                    <option value="">All Year</option>
                                                    <option th:each="yearInfo : ${listYear}" th:value="${yearInfo}" th:utext="${yearInfo}"/>
                                                </select>
                                            </div>
                                            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 search-button">
                                                <button type="submit" id="sas_search_button0">Find My Part</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>

                <div class="container">
                    <!-- Extra Best seller -->
                    <div class="module extra-layout1">
                        <div class="pre_text">
                            Top sale in the week
                        </div>
                        <h3 class="modtitle"><span>Best Seller</span></h3>
                        <div class="modcontent">
                            <div id="so_extra_slider_11" class="so-extraslider button-type1">
                                <!--changed listings-->
                                <div th:replace="/fragments/parts::partsData(productList=${productList2})"></div>

                                <!--// End Changed listings-->
                            </div>
                        </div>

                    </div>
                    <!-- end Extra best seller -->

                    <div class="banners banners2">
                        <div class="row">
                            <div class="item col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <a href="#"><img th:src="@{/image/catalog/banners/bn2.jpg}" alt="banner"></a>
                            </div>
                            <div class="item col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <a href="#"><img th:src="@{/image/catalog/banners/bn3.jpg}" alt="banner"></a>
                            </div>
                        </div>
                    </div>

                    <!-- Extra new arrivals -->
                    <div class="module extra-layout1">
                        <div class="pre_text">
                            Top sale in the week
                        </div>
                        <h3 class="modtitle"><span>New Arrivals</span></h3>
                        <div class="modcontent">
                            <div id="so_extra_slider_12" class="so-extraslider button-type1">
                                <!--changed listings-->
                                <div th:replace="/fragments/parts::partsData(productList=${productList})"></div>

                                <!--// End Changed listings-->
                            </div>
                        </div>
                        <!--<div class="modcontent">
                            <div id="so_extra_slider_12" class="so-extraslider button-type1">
                                <div class="products-list yt-content-slider extraslider-inner" data-rtl="yes" data-pagination="no" data-arrows="no" data-autoplay="no" data-delay="4" data-speed="0.6" data-margin="30" data-items_column00="4" data-items_column0="4" data-items_column1="3" data-items_column2="3" data-items_column3="2" data-items_column4="1" data-lazyload="yes" data-loop="no" data-buttonpage="top">
                                    <div class="item">
                                        <div class="product-layout product-grid">
                                            <div class="item-inner product-layout transition product-grid">
                                                <div class="product-item-container item&#45;&#45;static">
                                                    <div class="left-block">
                                                        <div class="product-image-container second_img">
                                                            <a href="product.html" target="_self" title="DPicanha porkcho">
                                                                <img th:src="@{/image/catalog/demo/product/270/1.jpg}" class="img-1 img-responsive" alt="image1">
                                                                <img th:src="@{/image/catalog/demo/product/270/3.jpg}" class="img-2 img-responsive" alt="image2">
                                                            </a>
                                                        </div>
                                                        <span class="label-product label-new">New</span>
                                                        &lt;!&ndash;quickview&ndash;&gt;
                                                        <div class="so-quickview">
                                                            <a class="iframe-link btn-button quickview quickview_handler visible-lg" href="quickview.html" title="Quick view" data-fancybox-type="iframe"><i class="fa fa-search"></i><span>Quick view</span></a>
                                                        </div>
                                                        &lt;!&ndash;end quickview&ndash;&gt;
                                                    </div>
                                                    <div class="right-block">
                                                        <div class="button-group cartinfo&#45;&#45;static">
                                                            <button type="button" class="wishlist btn-button" title="Add to Wish List" onclick="wishlist.add('60');"><i class="fa fa-heart"></i></button>
                                                            <button type="button" class="addToCart" title="Add to cart" onclick="cart.add('60 ');">
                                                                <span>Add to cart </span>
                                                            </button>
                                                            <button type="button" class="compare btn-button" title="Compare this Product " onclick="compare.add('60');"><i class="fa fa-refresh"></i></button>
                                                        </div>
                                                        <h4><a href="product.html" title="Picanha porkcho" target="_self">Picanha porkcho</a></h4>
                                                        <div class="rating">    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                        </div>
                                                        <div class="price">
                                                            <span class="price">$89.00</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="product-layout product-grid">
                                            <div class="item-inner product-layout transition product-grid">
                                                <div class="product-item-container item&#45;&#45;static">
                                                    <div class="left-block">
                                                        <div class="product-image-container second_img">
                                                            <a href="product.html" target="_self" title="Stickrum bresao">
                                                                <img th:src="@{/image/catalog/demo/product/270/3.jpg}" class="img-1 img-responsive" alt="image1">
                                                                <img th:src="@{/image/catalog/demo/product/270/4.jpg}" class="img-2 img-responsive" alt="image2">
                                                            </a>
                                                        </div>
                                                        <span class="label-product label-sale">-11%</span>
                                                        &lt;!&ndash;quickview&ndash;&gt;
                                                        <div class="so-quickview">
                                                            <a class="iframe-link btn-button quickview quickview_handler visible-lg" href="quickview.html" title="Quick view" data-fancybox-type="iframe"><i class="fa fa-search"></i><span>Quick view</span></a>
                                                        </div>
                                                        &lt;!&ndash;end quickview&ndash;&gt;
                                                    </div>
                                                    <div class="right-block">
                                                        <div class="button-group cartinfo&#45;&#45;static">

                                                            <button type="button" class="wishlist btn-button" title="Add to Wish List" onclick="wishlist.add('60');"><i class="fa fa-heart"></i></button>
                                                            <button type="button" class="addToCart" title="Add to cart" onclick="cart.add('60 ');">
                                                                <span>Add to cart </span>
                                                            </button>
                                                            <button type="button" class="compare btn-button" title="Compare this Product " onclick="compare.add('60');"><i class="fa fa-refresh"></i></button>
                                                        </div>
                                                        <h4><a href="product.html" title="Stickrum bresao" target="_self">Stickrum bresao</a></h4>
                                                        <div class="rating">    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                        </div>
                                                        <div class="price">
                                                            <span class="price-new">$85.00</span>
                                                            <span class="price-old">$96.00</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="product-layout product-grid">
                                            <div class="item-inner product-layout transition product-grid">
                                                <div class="product-item-container item&#45;&#45;static">
                                                    <div class="left-block">
                                                        <div class="product-image-container second_img">
                                                            <a href="product.html" target="_self" title="Remporum stick">
                                                                <img th:src="@{/image/catalog/demo/product/270/6.jpg}" class="img-1 img-responsive" alt="image1">
                                                                <img th:src="@{/image/catalog/demo/product/270/9.jpg}" class="img-2 img-responsive" alt="image2">
                                                            </a>
                                                        </div>
                                                        <span class="label-product label-new">New</span>
                                                        &lt;!&ndash;quickview&ndash;&gt;
                                                        <div class="so-quickview">
                                                            <a class="iframe-link btn-button quickview quickview_handler visible-lg" href="quickview.html" title="Quick view" data-fancybox-type="iframe"><i class="fa fa-search"></i><span>Quick view</span></a>
                                                        </div>
                                                        &lt;!&ndash;end quickview&ndash;&gt;
                                                    </div>
                                                    <div class="right-block">
                                                        <div class="button-group cartinfo&#45;&#45;static">

                                                            <button type="button" class="wishlist btn-button" title="Add to Wish List" onclick="wishlist.add('60');"><i class="fa fa-heart"></i></button>
                                                            <button type="button" class="addToCart" title="Add to cart" onclick="cart.add('60 ');">
                                                                <span>Add to cart </span>
                                                            </button>
                                                            <button type="button" class="compare btn-button" title="Compare this Product " onclick="compare.add('60');"><i class="fa fa-refresh"></i></button>
                                                        </div>
                                                        <h4><a href="product.html" title="Remporum stick" target="_self">Remporum stick</a></h4>
                                                        <div class="rating">    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                        </div>
                                                        <div class="price">
                                                            <span class="price">$65.00</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <div class="product-layout product-grid">
                                            <div class="item-inner product-layout transition product-grid">
                                                <div class="product-item-container item&#45;&#45;static">
                                                    <div class="left-block">
                                                        <div class="product-image-container second_img">
                                                            <a href="product.html" target="_self" title="Duis aute irure ">
                                                                <img th:src="@{/image/catalog/demo/product/270/7.jpg}" class="img-1 img-responsive" alt="image1">
                                                                <img th:src="@{/image/catalog/demo/product/270/8.jpg}" class="img-2 img-responsive" alt="image2">
                                                            </a>
                                                        </div>

                                                        &lt;!&ndash;quickview&ndash;&gt;
                                                        <div class="so-quickview">
                                                            <a class="iframe-link btn-button quickview quickview_handler visible-lg" href="quickview.html" title="Quick view" data-fancybox-type="iframe"><i class="fa fa-search"></i><span>Quick view</span></a>
                                                        </div>
                                                        &lt;!&ndash;end quickview&ndash;&gt;
                                                    </div>
                                                    <div class="right-block">
                                                        <div class="button-group cartinfo&#45;&#45;static">

                                                            <button type="button" class="wishlist btn-button" title="Add to Wish List" onclick="wishlist.add('60');"><i class="fa fa-heart"></i></button>
                                                            <button type="button" class="addToCart" title="Add to cart" onclick="cart.add('60 ');">
                                                                <span>Add to cart </span>
                                                            </button>
                                                            <button type="button" class="compare btn-button" title="Compare this Product " onclick="compare.add('60');"><i class="fa fa-refresh"></i></button>
                                                        </div>
                                                        <h4><a href="product.html" title="Volup tatem accu" target="_self">Volup tatem accu</a></h4>
                                                        <div class="rating">    <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                            <span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i></span>
                                                            <span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
                                                        </div>
                                                        <div class="price">
                                                            <span class="price">$60.00</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>-->
                    </div>
                    <!-- end Extra new arrivals -->


                    <!-- So Categories -->
                    <!--<div class="row-cates">
                        <div id="so_categories_11" class="so-categories module theme2 cates-layout1 container preset01-3 preset02-2 preset03-2 preset04-2 preset05-1">
                            <div class="pre_text">
                                Top featured collections
                            </div>
                            <h3 class="modtitle"><span>Shop by categories</span></h3>
                            <div class="modcontent">
                                <div class="cat-wrap theme2">
                                    <div class="content-box">
                                        <div class="inner">
                                            <div class="parent-cat">
                                                <div class="image-cat">
                                                    <a href="#"><img th:src="@{/image/catalog/demo/category/cate1.jpg}" alt="image" /></a>
                                                </div>
                                            </div>
                                            <div class="cat-title"><a href="#">Wheels & Tires</a></div>
                                            <div class="child-cat">
                                                <div class="child-cat-title"><a href="#">Tires</a></div>
                                                <div class="child-cat-title"><a href="#">Tires Chains</a></div>
                                                <div class="child-cat-title"><a href="#">Tires Accessories</a></div>
                                                <div class="child-cat-title"><a href="#">Wheels</a></div>
                                                <div class="child-cat-title"><a href="#">Wheels Accessories</a></div>
                                                <a class="viewmore" href="#">View More</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="content-box">
                                        <div class="inner">
                                            <div class="parent-cat">
                                                <div class="image-cat">
                                                    <a href="#"><img th:src="@{/image/catalog/demo/category/cate2.jpg}" alt="image" /></a>
                                                </div>
                                            </div>
                                            <div class="cat-title"><a href="#">Smart devices</a></div>
                                            <div class="child-cat">
                                                <div class="child-cat-title"><a href="#">Bluetooth Devices </a></div>
                                                <div class="child-cat-title"><a href="#">Dash Cam</a></div>
                                                <div class="child-cat-title"><a href="#">Screen TV</a></div>
                                                <div class="child-cat-title"><a href="#">Smartwatch</a></div>
                                                <div class="child-cat-title"><a href="#">USB Connect</a></div>
                                                <a class="viewmore" href="#">View More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content-box">
                                        <div class="inner">
                                            <div class="parent-cat">
                                                <div class="image-cat">
                                                    <a href="#"><img th:src="@{/image/catalog/demo/category/cate3.jpg}" alt="image" /></a>
                                                </div>
                                            </div>
                                            <div class="cat-title"><a href="#">Oil Fluids</a></div>
                                            <div class="child-cat">
                                                <div class="child-cat-title"><a href="#">Esdipiscing</a></div>
                                                <div class="child-cat-title"><a href="#">Reprehenderit</a></div>
                                                <div class="child-cat-title"><a href="#">Duis aute</a></div>
                                                <div class="child-cat-title"><a href="#">Deserunt mollit</a></div>
                                                <div class="child-cat-title"><a href="#">Laudantium</a></div>
                                                <a class="viewmore" href="#">View More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content-box">
                                        <div class="inner">
                                            <div class="parent-cat">
                                                <div class="image-cat">
                                                    <a href="#"><img th:src="@{/image/catalog/demo/category/cate4.jpg}" alt="image" /></a>
                                                </div>
                                            </div>
                                            <div class="cat-title"><a href="#">Lighting</a></div>
                                            <div class="child-cat">
                                                <div class="child-cat-title"><a href="#">LED Tail Lights</a></div>
                                                <div class="child-cat-title"><a href="#">Headlights</a></div>
                                                <div class="child-cat-title"><a href="#">Aspering</a></div>
                                                <div class="child-cat-title"><a href="#">Interior Light</a></div>
                                                <div class="child-cat-title"><a href="#">Consectetur</a></div>
                                                <a class="viewmore" href="#">View More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content-box">
                                        <div class="inner">
                                            <div class="parent-cat">
                                                <div class="image-cat">
                                                    <a href="#"><img th:src="@{/image/catalog/demo/category/cate5.jpg}" alt="image" /></a>
                                                </div>
                                            </div>
                                            <div class="cat-title"><a href="#">Replacement Parts</a></div>
                                            <div class="child-cat">
                                                <div class="child-cat-title"><a href="#">Lighting & Electical</a></div>
                                                <div class="child-cat-title"><a href="#">Brake Parts</a></div>
                                                <div class="child-cat-title"><a href="#">Shock & Suspension</a></div>
                                                <div class="child-cat-title"><a href="#">Outerwear</a></div>
                                                <div class="child-cat-title"><a href="#">Exhaust & Emission</a></div>
                                                <a class="viewmore" href="#">View More</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="content-box">
                                        <div class="inner">
                                            <div class="parent-cat">
                                                <div class="image-cat">
                                                    <a href="#"><img th:src="@{/image/catalog/demo/category/cate6.jpg}" alt="image" /></a>
                                                </div>
                                            </div>
                                            <div class="cat-title"><a href="#">Tool & equipments</a></div>
                                            <div class="child-cat">
                                                <div class="child-cat-title"><a href="#">Tool Boxes</a></div>
                                                <div class="child-cat-title"><a href="#">Tool Sets</a></div>
                                                <div class="child-cat-title"><a href="#">Impact Wrenches</a></div>
                                                <div class="child-cat-title"><a href="#">Tire Air Compressors </a></div>
                                                <div class="child-cat-title"><a href="#">Hand Tools</a></div>
                                                <a class="viewmore" href="#">View More</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>-->
                    <!-- end So Categories -->
                </div>
            </div>
        </div>
    </div>
    <!-- //Main Container -->

    <th:block layout:fragment="script">
        <script type="text/javascript" th:src="@{/js/themejs/homepage.js}"></script>
        <script type="text/javascript" th:src="@{/js/Util.js}"></script>
        <script th:inline="javascript">
            $(document).ready(function() {
                display('grid');
                $(".make").change(function() {
                    var url = /*[[@{/models}]]*/
                    getModels(url);
                });
            });
        </script>
    </th:block>
</body>
</html>